<ul class="tab-menu">
    {{#if bike.images}}
        <li class="tab" data-tab="images">
            Images ({{bike.images.length}})
        </li>
    {{/if}}
    <li class="tab" data-tab="characteristics">Characteristics</li>
</ul>