* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 14px Arial;
}

div {
    position: relative;
}

.bike-loading {
    margin: 50px;
}

.bike-loading:after {
    content: 'Loading...';
}

.bike-wrap {
    float: none;
    clear: both;
    padding: 20px 0;
}

.bike-wrap .tab-menu {
    list-style-type: none;
    float: left;
    display: none;
}

.bike-wrap .tab-menu .tab {
    float: left;
    padding: 5px;
    border: 1px solid gray;
    border-bottom: none;
    cursor: pointer;
    background: #eee;
}

.bike-wrap .tab-menu .tab.active {
    background: white;
}

.bike-wrap .tab-menu .tab ~ .tab {
    border-left: none;
}

.bike-wrap.expanded .tab-menu, .bike-wrap.expanded .bike-data {
    display: block;
}

.bike-data {
    display: none;
    width: 100%;
    border: 1px solid gray;
    padding: 10px;
    clear: both;
}

.bike-characteristics h2 {
    padding-left: 10px;
}

.bike-characteristics h3 {
     padding-left: 20px;
}

.bike-characteristics ul {
    padding-left: 30px;
    list-style-type: none;
}